.detail-top{
    background-image: url("../../images/detail-img.jpg");
                    background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        height: 120px;
                        width: full;
                       
    .detail-top-box{
   
    }
}