.featured{
 padding-top: 6rem;
    .black{               
        height: 358px;
        width: full;
   padding-bottom: 6rem;
        padding-right: 6rem;
        margin-bottom: 6rem;
                        border-radius: 10px;
                            background-image: url("../../images/black-bg.jpg");
                            background-repeat: no-repeat;
                            background-position: bottom;
                            background-size: cover;
                            display: flex;
                            align-items: end;
                            justify-content: end;

.mid{
    @include col-start(1.2rem);
                .first {
                        @include font(500, 1.6rem, 100%, $white);
                    }
                
                    .second {

                        @include font(500, 5.6rem, 120%, $white);
                
                        span {
                            @include font(600, 5.6rem, 120%, $orange);
                        }
                    }
                    .third{
                        margin-top: 0.4rem;
                        @include font(400, 1.6rem, 150%, $light-grey2);
                    }
                
                    button {
                        margin-top: 1.6rem;
                        @include button-green(1.6rem 4rem, $white, 1.6rem);
                        @include row-align-cen(1.6rem);
                        @include font(600, 1.6rem, 120%, $white);
                    }
}
    }
}