.feat-products{
    margin-bottom: 6rem;
        .top {
                @include space-between();
        
                h2 {
                    @include font(600, 3.2rem, 120%, $black-text);
                }
        
                button {
                    @include button(1.6rem 0rem, $green, 1.6rem);
                    @include row-align-cen(1.6rem);
                    @include font(500, 1.6rem, 150%, $green);
                }
            }

                                                        .smth {
                                                            @include row(0);
                                                            .box {
                                                                border: 1px solid $light-gray;
                                                                position: relative;
                            
                                                                &:hover {
                                                                    border: 1px solid $dark-green;
                                                                    box-shadow: 0px 0px 12px 0px #20B52652;
                                                                    transition: 0.5s ease;
                            
                                                                    .box-bottom .left p {
                                                                        color: $dark-green;
                                                                        transition: 0.8s ease;
                                                                    }
                            
                                                                    .box-bottom .bag {
                                                                        background-color: $dark-green;
                                                                        transition: 0.8s ease;
                                                                    }
                            
                                                                    .box-bottom .bag svg path {
                                                                        stroke: $white;
                                                                        transition: 0.8s ease;
                                                                    }
                            
                                                                    transition: 0.8s ease;
                                                                }
                            
                                                                img {
                                                                    margin: 0.5rem;
                                                                }
                            
                                                                .red {
                                                                    padding: 0.3rem 0.8rem;
                                                                    background-color: $red;
                                                                    width: 80px;
                                                                    height: 27px;
                                                                    border-radius: 4px;
                                                                    position: absolute;
                                                                    top: 16px;
                                                                    left: 16px;
                            
                                                                    h6 {
                                                                        @include font(400, 1.4rem, 150%, $white);
                                                                    }
                                                                }
                            
                                                                .circles {
                                                                    position: absolute;
                                                                    top: 16px;
                                                                    right: 16px;
                                                                    @include col(0.6rem);
                            
                                                                    .circle {
                                                                        width: 40px;
                                                                        height: 40px;
                                                                        border-radius: 50%;
                                                                        border: 1px solid $bag-bg;
                                                                        background-color: $white;
                                                                        display: flex;
                                                                        align-items: center;
                                                                        justify-content: center;
                                                                    }
                                                                }
                            
                                                                .box-bottom {
                                                                    @include space-between-cen();
                                                                    padding: 1.2rem;
                            
                                                                    .left {
                                                                        @include col(0);
                            
                                                                        p {
                                                                            @include font(400, 1.4rem, 150%, $text);
                                                                        }
                            
                                                                        .cost {
                                                                            @include row-align-cen(0.2rem);
                            
                                                                            .black-text {
                                                                                @include font(500, 1.6rem, 150%, $black-text);
                                                                            }
                            
                                                                            .grey {
                                                                                @include font(400, 1.6rem, 150%, $black-header-color);
                                                                                text-decoration: line-through;
                                                                            }
                                                                        }
                                                                    }
                            
                                                                    .bag {
                                                                        height: 40px;
                                                                        width: 40px;
                                                                        border-radius: 50%;
                                                                        background-color: $bag-bg;
                                                                        display: flex;
                                                                        align-items: center;
                                                                        justify-content: center;
                            
                                                                    }
                            
                                                                }
                                                            }
                                                        }
}