.follow{
    padding-top: 6rem;
    padding-bottom: 6rem;
    .logos{
        @include space-between();
        @media (max-width:758px){
            display: none;
        }
        svg:hover{
           
         path{
            fill: $green;
            transition: 0.8s ease;
        }
        }
    }
    .insta{
        margin-top: 6rem;
        @include col(3.2rem);
        h2{
            display: flex;
            justify-content: center;
            @include font(600, 3.2rem, 120%, $black-text);
        }
       &-mid{
       
@include space-between();
padding-bottom: 6rem;
@media (max-width:1199px){
    display: none;
}
       }
       &-mid2{
display: none;
@media (max-width:1199px){
    @include col-cen(4rem);
}
&-row{

        @include row-align-cen(4rem);
        @media (max-width:378px) {
            @include col-cen(4rem);
        }
    .no {
            // @media (max-width:1199px) {
            //     display: none;
            // }
    
            @media (max-width:610px) {
                display: none;
            }
                                                @media (max-width:378px) {
                                                    display: flex;
                                                }
        }
}
       } 
    }
}