$gray:#666666;
$light-gray:#E6E6E6;
$search-placeholder:#808080;
$green:#00B207;
$white:#FFFFFF;
$text:#4D4D4D;
$black-text:#1A1A1A;
$dark-green:#2C742F;
$header-bg:#333333;
$black-header-color:#999999;
$orange:#FF8A00; 
$border-color:#84D187; 
$bag-bg:#F2F2F2;
$red:#EA4B48;
$almost-white:#FFFFFFCC;
$yellow:#FCC900;
$blue:#2388FF;